@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sintony:wght@400;700&display=swap');

:root {
    --primary-color: #074173;
    --secondary-color: #C5FF95;
    --accent1-color: #1679AB;
    --accent2-color: #5DEBD7;

    --heading-font: "Sintony", sans-serif;
    --paragraph-font: "Prompt", sans-serif;

    --nav-background-color: #333333;
    --nav-link-color: #F9EFE5;
    --nav-hover-link-color: #8FFFB2;
    --nav-hover-background-color: #0B4056;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      background-color: black;
    }
    to {
      opacity: 1;
      background-color: transparent;
    }
  }
  
  img {
    animation: fadeIn 2s ease-in-out;
  }

footer {
    background-color: var(--primary-color);
    margin: 0 auto;
    color: var(--nav-link-color);
    text-align: center;
}

footer p {
    padding: 10px;
}